Service References/DynamicEstimateService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.DynamicEstimateModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.DynamicEstimateModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DynamicEstimateSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="WarningLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DynamicEstimateSearchModel" nillable="true" type="tns:DynamicEstimateSearchModel" />
  <xs:complexType name="ArrayOfDynamicEstimateViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DynamicEstimateViewModel" nillable="true" type="tns:DynamicEstimateViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDynamicEstimateViewModel" nillable="true" type="tns:ArrayOfDynamicEstimateViewModel" />
  <xs:complexType name="DynamicEstimateViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CounselorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DyEstiID" type="xs:int" />
      <xs:element minOccurs="0" name="DynamicEstimateContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DynamicEstimateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarningState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DynamicEstimateViewModel" nillable="true" type="tns:DynamicEstimateViewModel" />
  <xs:complexType name="DynamicEstimateReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CounselorID" type="xs:int" />
      <xs:element minOccurs="0" name="DynamicEstimateContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarningLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DynamicEstimateReportModel" nillable="true" type="tns:DynamicEstimateReportModel" />
</xs:schema>