Service References/IndexService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.IndexModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.IndexModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IndexModularSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexModularSearchModel" nillable="true" type="tns:IndexModularSearchModel" />
  <xs:complexType name="IndexModularViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentPeopleCount" type="xs:int" />
      <xs:element minOccurs="0" name="DiscriminateEstiamteCount" type="xs:int" />
      <xs:element minOccurs="0" name="DynamicEstimateCount" type="xs:int" />
      <xs:element minOccurs="0" name="IdioctoniaEstimateCount" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalReportCount" type="xs:int" />
      <xs:element minOccurs="0" name="PotentialRiskEstimateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexModularViewModel" nillable="true" type="tns:IndexModularViewModel" />
</xs:schema>