Service References/PotentialRiskEstimateService/item64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PotentialRiskEstimateModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PotentialRiskEstimateModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PotentialRiskEstimateSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DisposalState" type="xs:int" />
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="WarningLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PotentialRiskEstimateSearchModel" nillable="true" type="tns:PotentialRiskEstimateSearchModel" />
</xs:schema>