Service References/PotentialRiskEstimateService/item62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.CommonModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.CommonModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReportPersonalInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisposalState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarningState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportPersonalInfoModel" nillable="true" type="tns:ReportPersonalInfoModel" />
</xs:schema>