Service References/MemberArchivesService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8014/BasicsServices/MemberArchivesService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.MemberArchivesModel" />
  <xs:element name="InitialTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.MemberArchivesModel" minOccurs="0" name="model" nillable="true" type="q1:MemberArchivesSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitialTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitialTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.MemberArchivesModel" minOccurs="0" name="GetConsultRecordResult" nillable="true" type="q2:ArrayOfMemberArchivesConsultRecordViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.MemberArchivesModel" minOccurs="0" name="model" nillable="true" type="q3:MemberArchiveModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberArchiveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberArchiveByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberArchiveByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberArchiveByUserIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>