Service References/MemberArchivesService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.MemberArchivesModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.MemberArchivesModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MemberArchivesSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberArchivesSearchModel" nillable="true" type="tns:MemberArchivesSearchModel" />
  <xs:complexType name="ArrayOfMemberArchivesConsultRecordViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberArchivesConsultRecordViewModel" nillable="true" type="tns:MemberArchivesConsultRecordViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberArchivesConsultRecordViewModel" nillable="true" type="tns:ArrayOfMemberArchivesConsultRecordViewModel" />
  <xs:complexType name="MemberArchivesConsultRecordViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CounselorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberArchivesConsultRecordViewModel" nillable="true" type="tns:MemberArchivesConsultRecordViewModel" />
  <xs:complexType name="MemberArchiveModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberArchiveModel" nillable="true" type="tns:MemberArchiveModel" />
</xs:schema>