Service References/CrisisInterfereSolutionService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.CrisisInterfereSolutionModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.CrisisInterfereSolutionModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CrisisInterfereSolutionSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SolutionType" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrisisInterfereSolutionSearchModel" nillable="true" type="tns:CrisisInterfereSolutionSearchModel" />
  <xs:complexType name="CrisisInterfereSolutionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CISContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CISTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="STID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrisisInterfereSolutionModel" nillable="true" type="tns:CrisisInterfereSolutionModel" />
</xs:schema>